/* font */
@font-face {
    font-family: 'miraculous';
        src: url('../fonts/Miraculous&Christmas.ttf');
    font-weight: normal;
    font-style: normal;
    }

/* conteneur  */
.container-fluid{
    background-color: #23386B;
    color:white;
    min-height: 100vh;
    padding-top: 10vh;
}

/* CSS GENERIQUE */
/* test */
.rouge{
    color:red;
}
.bgRouge{
    color:red;
}

/* marge */
.marge{
    padding-right: 100px;
    padding-left: 100px;
}

/* bouton */
.btn-primary {
    color: #fff;
    background-color: #1B2C56 !important;
    border-color: #23386B !important;
    border-radius: 30px !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #23386B !important;
    border-color: #1B2C56 !important;
}

/* couleur */
.bgBleuClair{
    background-color: #23386B;
}
.BleuClair{
    color: #23386B;
}
.bgBleuFonce{
    background-color: #1B2C56;
}
.BleuFonce{
    color: #1B2C56;
}
.white{
    color:white;
}





/* NAV */
nav{
    position: fixed !important;
    background-color: #1B2C56;
    width: 100%;
    z-index: 1;
}
nav form .btn{
    border:none !important;
}

.navbar-brand{
    font-family: "miraculous";
    font-size: 1.7em !important;
    color:red !important;
}

.navbar-light .navbar-nav .nav-link{
    color:rgba(255, 255, 255, 0.7) !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:white !important;
}

/* HOME */
.home{
    display: flex;
}

    .home .feed{
        width: 80%;
    }


.friendsCo{
    position: fixed;
    right: 100px;
    padding:20px 30px 20px 30px;
    border-radius:30px;
    height: 85vh;
}


/* LOGIN */
.login{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 90vh;
    padding-top: 120px;
}
    .inscription, .connexion{
        height: 70vh;
        min-width: 40%;
        padding: 20px 30px 20px 30px;
        border-radius: 30px;
    }

/* PROFIL */



/* MODULE */
/* post */
.post{
    border-radius:30px;
    padding:20px 30px 20px 30px;
    width: 80%;
    padding:30px;
    color: #1B2C56;
    background-color: white;
    margin-bottom: 20px;
}



