

/* nav */
nav form .btn{
    border:none !important;
}

/* home */
.home{
    display: flex;
}

    .home .feed{
        width: 80%;
    }


/* post */
.post{
    border: 1px solid black;
    width: 30%;
    padding:30px;
}



